<header>
    <nav class="pt-3">
        <div class="container" id="navbar_menu">
            <div id="btn-domu">
                <a href="/" class="btn btn-secondary btn-sm">
                    <h5>Domovská stránka</h5>
                </a>
            </div>

            <div class="text-right">
                {% if request.user.is_authenticated %}
                    <p>Vítej {{request.user}}</p>
                    <a href="{% url 'logout' %}" class="btn btn-primary btn-sm">Odhlásit</a>
                {% endif %}
                
            </div>
            <hr class="mb-0">
        </div>
    </nav>
</header>